<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <!-- 파비콘 -->
    <link rel="shortcut icon" href="https://papago.naver.com/favicon.ico" />
    <!-- css -->
    <link rel="stylesheet" href="/static/style.css" />
    <title>Papago</title>
  </head>
  <body>
    <header>
      <!-- 헤더 -->
      <ul class="header-ul">
        <li id="logo">
          <a href="https://papago.naver.com/">
            <img
              src="https://papago.naver.com/97ec80a681e94540414daf2fb855ba3b.svg"
              alt="papago-logo"
            />
          </a>
        </li>
        <li>웹사이트 번역</li>
        <li>문서 번역</li>
        <li id="vertical-line">|</li>
        <li>사전</li>
      </ul>

      <ul class="header-ul">
        <li id="profile-img">
          <img
            src="https://profile-phinf.pstatic.net/14255/ae4c0f812512a6e84f3dc1e1f403dc0d674fdb4e24e0a07750fcaf5e9abaea03.jpg?type=f80_80&timestamp=28498321"
            alt="profile-image"
            style="display: block; margin: auto"
          />
        </li>
        <li>박준형</li>
      </ul>
    </header>

    <section>
      <div class="papago-container">
        <div class="papago-box">
          <div class="papago-header">
            <span>한국어</span>
            <button>⇔</button>
          </div>
          <div class="papago-textarea">
            <textarea placeholder="번역할 내용을 입력하세요."></textarea>
            <span>0/3000</span>
          </div>
          <div class="papago-footer">
            <ul>
              <li>
                <img
                  src="https://papago.naver.com/bc1f6c2122c7d3e5c1bf3a9feb53f255.png"
                  alt=""
                />
              </li>
              <li>
                <img
                  src="https://papago.naver.com/78cef6a801f2b67b73966d965b43677c.png"
                  alt=""
                />
              </li>
            </ul>
            <button>번역하기</button>
          </div>
        </div>

        <div class="papago-box">
          <div class="papago-header">
            <span>영어</span>
          </div>
          <div class="papago-textarea">
            <textarea disabled></textarea>
          </div>
          <div class="papago-footer">
            <ul>
              <li>
                <img
                  src="https://papago.naver.com/bc1f6c2122c7d3e5c1bf3a9feb53f255.png"
                  alt=""
                />
              </li>
              <li>
                <img
                  src="https://papago.naver.com/78cef6a801f2b67b73966d965b43677c.png"
                  alt=""
                />
              </li>
              <li>
                <img
                  src="https://papago.naver.com/27b8905f89699753e7ba5a9593942957.png"
                  alt=""
                />
              </li>
              <li>
                <img
                  src="https://papago.naver.com/68cb897393a03dde443b907a66da36dd.png"
                  alt=""
                />
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
